
<ion-nav-view title="login" class="screen-bg">
 
   <ion-scroll direction="y" class="theroot">
   
<div class="images" style="text-align:center; margin-bottom:25px; margin-top:15%;"><img src="img/logo.png"></div>

<div class="form">

  
    <span class="input-label">Email</span>
    <input type="text" placeholder=""></label>
    <p class="error">Invalid Email Adress</p>
     
     
     
   <span class="input-label">Password</span>
    <input type="password" placeholder=""></label>
      <p class="error">Incorrect Password</p>
    
</div>

<button nav-clear class="button button-block button-positive" ng-click="aaa(user)" type="submit">
            LOGIN
          </button>


	
<p class="" style="text-align:center;">New to Blox?  <a href="#/templates/signup" ui-sref="signup">Create an account</a><br></p>

<p style="text-align:center; "><a href="#/templates/forgot-password">Forgot Password</a></p>

</ion-scroll>
</ion-nav-view>
