  <ion-view title="Member of blox...">
 

<ion-nav-buttons side="left">
 
   <button class=" button button-icon icon ion-arrow-left-c" ng-click="$ionicGoBack()" ></button>
 
 
  </ion-nav-buttons>
  

  
  <ion-content class="has-header" id="contshare">

   
      
      <li class="item"  id="itemlist3" ng-click="">
      <div class="row"> 
        <div class="col col-20" id="link2"><p>PT</p></div>
        <div class="col col-80" id="col76">
          <h2>Punnet Tiwari</h2>
          <p>Can edit</p>
          
        </div>
    
      </div>
      </li>
      
     
     <li class="item"  id="mbrinfo">
      <div class="row">
       <div class="col-20" id="membr"><i class = "icon icon ion-email"></i></div>
        <div class="col col-80" id="col75">
          <h2>Email</h2>
          <p>asmith@email.com</p>
        </div>
       
      </div>
      </li>
      
      
      <li class="item"  id="mbrinf">
      <div class="row">
       <div class="col-20" id="membr"><i class = "icon icon ion-android-lock"></i></div>
        <div class="col col-80" id="col75">
          <h2>User permission</h2>
          <p>Can edit</p>
        </div>
       
      </div>
      </li>
      
      
       
      
      
 
      
      </ion-scroll>
    
  </ion-content>
  
</ion-view>

<!-- <div class="float-button">
	<span class="height-fix">
	  	<a class="content">
	    	<i class="ion-ios-arrow-up"> </i>
	   	</a>
	  </span>
</div>--> 
