 <ion-view title="Notification">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>


      </ion-nav-buttons>
      
      <ion-content class="has-header" id="cont">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>


        <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10" > <i class ="icon ion-folder"></i></div>
  <div class="col col-90">Puneet invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>
   <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10"> <i class ="icon ion-document"></i></div>
  <div class="col col-90">Suraj invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>
   <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10"> <i class ="icon ion-image"></i></div>
  <div class="col col-90">Mohit invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>
    <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10" > <i class ="icon ion-folder"></i></div>
  <div class="col col-90">Puneet invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>


      <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10" > <i class ="icon ion-folder"></i></div>
  <div class="col col-90">Puneet invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>
   <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10"> <i class ="icon ion-document"></i></div>
  <div class="col col-90">Suraj invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>
   <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10"> <i class ="icon ion-image"></i></div>
  <div class="col col-90">Mohit invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>
    <div class="row" id="notif" ui-sref="app.save">
  <div class="col-10" > <i class ="icon ion-folder"></i></div>
  <div class="col col-90">Puneet invited you to view the share file <b>Lockscreens.zip</b><br><p>3 week ago</p></div>
  </div>








      </ion-content>
    </ion-view>
