 
<ion-view title="Profile">
  <ion-nav-buttons side="left">
  
  
<!--<button class="button back-button  buttons button-clear header-item" ui-sref="app.recent" id="backb">
 <i class="icon ion-arrow-left-c"></i></button>-->
 
 
<button class=" button button-icon icon ion-arrow-left-c"  ui-sref="app.recent"></button></ion-nav-buttons>
  
 <!-- <ion-nav-buttons side="right"> </ion-nav-buttons>-->
  
  
  
  <ion-content class="has-header" id="cont">
  
      

    <div class="list" id="cardlist">
     	
        
        <li class="item" id="itemlist">
      <div class="row" ng-click="showActionsheetprof()">
        
        <div class="col" id="pro">
          <h3>Account photo</h3> </div>
           <div class=""><img src="img/avatar-2015-circle-260.png" id="prof" ></div>
        </div>
      
      </li> 
    <!--    
        
      <li class="item"  id="itemlist">
      <div class="row">
       
        <div class="col col-80" id="colprof">
          
          <h2>Account photo</h2>
        </div>
        <div class="col col-20"><img src="img/avatar-2015-circle-260.png" id="prof" ng-click="showActionsheetprof()"></div>
      </div>
      </li> 
      -->
      
      <li class="item" id="itemlist">
      <div class="row">
        
        <div class="col" id="pro-email">
          <h2>Email</h2>
          <p>Sare with three People</p>
        </div>
        </div>
      
      </li> 
      
      <li class="item" id="itemlist">
      <div class="row">
        
        <div class="col" id="pro-email">
          <h2>Space used</h2>
          <p>63.3% of 6 GB</p>
        </div>
        </div>
      
      </li>
      
  </div>
      
      
      
    <div class="list" id="cardlist">
     
      <li class="item" id="itemlist">
      <div class="row">
       
        <div class="col">
          <h2>Sign out of Blox</h2>   </div>
     
        </div>
      
      </li>
       </div>
      
     
      
      
      
      
      
  </ion-content>
  
</ion-view>

<!-- <div class="float-button">
	<span class="height-fix">
	  	<a class="content">
	    	<i class="ion-ios-arrow-up"> </i>
	   	</a>
	  </span>
</div>--> 
