<ion-view title="Files">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>


    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class=" button button-icon icon ion-android-search" href="#/templates/search" ui-sref="search"></button>
        <button class=" button button-icon icon ion-android-share-alt" href="#/templates/share" ui-sref="app.share" ng-class=""></button>
        <!-- <button class=" button button-icon icon ion-android-checkbox-outline" ng-click="click2($event)"></button>
    <button class=" button button-icon icon ion-android-share-alt"  ng-click="($event)"></button>
    <button class=" button button-icon icon ion-android-arrow-dropdown-circle"  ng-click="popover.show1($event)"></button>-->


    </ion-nav-buttons>



    <ion-content class="has-header" id="cont1" scroll="true">
        <ion-slide-box show-pager="false" ion-slide-tabs>


            <ion-slide ion-slide-tab-label="Files">
                <div class="list" id="cardlist">

                    <li class="item" id="itemlist" ng-click="openBrowsers()">
                        <div class="row">
                            <div class="col col-10" id="iconn"><i class="icon ion-document"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>File-blox1</h2>
                                <p>9.2 MB, modified 10 months ago</p>
                            </div>
                            <div class="col col-10" id="Cancle" ng-click="cancle()"><i class="icon icon-right ion-close-round"></i>
                                <!--/*<ion-checkbox ng-model="item.checked" ng-repeat="item in devList" ng-checked="item.checked" ng-show="show1" id="chck-box"></ion-checkbox>
          <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-show="show1" id="chck-box" ></ion-checkbox>*/-->
                            </div>
                        </div>
                    </li>

                    <li class="item" id="itemlist" ng-click="openBrowsers()">
                        <div class="row">
                            <div class="col col-10" id="iconn"><i class="icon ion-document"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>File-blox1</h2>
                                <p>9.2 MB, modified 10 months ago</p>
                            </div>
                            <div class="col col-10" id="Cancle" ng-click="cancle()"><i class="icon icon-right ion-close-round"></i>
                                <!--/*<ion-checkbox ng-model="item.checked" ng-repeat="item in devList" ng-checked="item.checked" ng-show="show1" id="chck-box"></ion-checkbox>
          <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-show="show1" id="chck-box" ></ion-checkbox>*/-->
                            </div>
                        </div>
                    </li>

                    <li class="item" id="itemlist" ng-click="openBrowsers()">
                        <div class="row">
                            <div class="col col-10" id="iconn"><i class="icon ion-document"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>File-blox1</h2>
                                <p>9.2 MB, modified 10 months ago</p>
                            </div>
                            <div class="col col-10" id="Cancle" ng-click="cancle()"><i class="icon icon-right ion-close-round"></i>
                                <!--/*<ion-checkbox ng-model="item.checked" ng-repeat="item in devList" ng-checked="item.checked" ng-show="show1" id="chck-box"></ion-checkbox>
          <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-show="show1" id="chck-box" ></ion-checkbox>*/-->
                            </div>
                        </div>
                    </li>

                    <li class="item" id="itemlist" ng-click="openBrowsers()">
                        <div class="row">
                            <div class="col col-10" id="iconn"><i class="icon ion-document"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>File-blox1</h2>
                                <p>9.2 MB, modified 10 months ago</p>
                            </div>
                            <div class="col col-10" id="Cancle" ng-click="cancle()"><i class="icon icon-right ion-close-round"></i>
                                <!--/*<ion-checkbox ng-model="item.checked" ng-repeat="item in devList" ng-checked="item.checked" ng-show="show1" id="chck-box"></ion-checkbox>
          <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-show="show1" id="chck-box" ></ion-checkbox>*/-->
                            </div>
                        </div>
                    </li>



                </div>
            </ion-slide>


            <ion-slide ion-slide-tab-label="Applications">

                <div class="list" id="cardlist">


                    <li class="item" id="itemlist" ng-click="openBrowser()">
                        <div class="row">
                            <div class="col" id="iconnn"> <i class="icon  ion-social-github-outline"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>applications-blox1</h2>
                                <p>Description...</p>
                            </div>
                            <div class="col">
                                <!--<i class="icon icon-right ion-android-arrow-dropdown-circle" ng-hide="show1"></i>-->
                                <!--   <ion-checkbox  ng-show="show1" id="chck-box"></ion-checkbox>-->
                                <!-- <ion-checkbox ng-model="b3.checked" ng-show="show1" id="chck-box"  > </ion-checkbox>-->

                            </div>
                        </div>
                    </li>



                    <li class="item" id="itemlist" ng-click="openBrowser()">
                        <div class="row">
                            <div class="col" id="iconn"> <i class="icon  ion-social-github-outline"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>applications-blox1</h2>
                                <p>Description...</p>
                            </div>
                            <div class="col">
                                <!--<i class="icon icon-right ion-android-arrow-dropdown-circle" ng-hide="show1"></i>-->
                                <!--   <ion-checkbox  ng-show="show1" id="chck-box"></ion-checkbox>-->
                                <!-- <ion-checkbox ng-model="b3.checked" ng-show="show1" id="chck-box"  > </ion-checkbox>-->

                            </div>
                        </div>
                    </li>

                    <li class="item" id="itemlist" ng-click="openBrowser()">
                        <div class="row">
                            <div class="col" id="iconn"> <i class="icon  ion-social-github-outline"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>applications-blox1</h2>
                                <p>Description...</p>
                            </div>
                            <div class="col">
                                <!--<i class="icon icon-right ion-android-arrow-dropdown-circle" ng-hide="show1"></i>-->
                                <!--   <ion-checkbox  ng-show="show1" id="chck-box"></ion-checkbox>-->
                                <!-- <ion-checkbox ng-model="b3.checked" ng-show="show1" id="chck-box"  > </ion-checkbox>-->

                            </div>
                        </div>
                    </li>

                    <li class="item" id="itemlist" ng-click="openBrowser()">
                        <div class="row">
                            <div class="col" id="iconn"> <i class="icon  ion-social-github-outline"></i></div>
                            <div class="col col-75" id="col76">
                                <h2>applications-blox1</h2>
                                <p>Description...</p>
                            </div>
                            <div class="col">
                                <!--<i class="icon icon-right ion-android-arrow-dropdown-circle" ng-hide="show1"></i>-->
                                <!--   <ion-checkbox  ng-show="show1" id="chck-box"></ion-checkbox>-->
                                <!-- <ion-checkbox ng-model="b3.checked" ng-show="show1" id="chck-box"  > </ion-checkbox>-->

                            </div>
                        </div>
                    </li>


                </div>
            </ion-slide>

        </ion-slide-box>


    </ion-content>


    <button class="button button-float" ng-click="showActionsheet()"> <i class="icon ion-upload"></i> </button>
</ion-view>