<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Sign-in, Then Tabs Example</title>

    <ion-view title="SignUp" class="screen-bg">
    
        <ion-scroll direction="y" class="theroot">


<div class="images" style="text-align:center; margin-bottom:25px; margin-top:15%;"><img src="img/logo.png"></div>
<div class="form">

  <span class="input-label">First name</span>
    <input type="text" placeholder=""></label>
     <p class="error">Enter First Name</p>
    
   <span class="input-label">Last name</span>
    <input type="password" placeholder=""></label>
     <p class="error">Enter Last Name</p>
    
    <span class="input-label">Email</span>
    <input type="text" placeholder=""></label>
    <p class="error">Invalid Email Adress</p>
    
   <span class="input-label">Password</span>
    <input type="password" placeholder=""></label>
          <p class="error">Incorrect Password</p>

    



<button nav-clear class="button button-block button-positive" ng-click="" >
           Create an Account
          </button>

	
<p class="" style="text-align:center;">   <a href="#/templates/login" style="text-decoration:none;">Login<br></a></p>


</div>


      
    
      </ion-scroll>
    </ion-view>
 </html>



